# Base settings to create the containers.
PROXY=proxy

PROJECT_NAME=ocha-api-local

IMAGE_REGISTRY=public.ecr.aws/unocha

IMAGE_NAME=ocha-api-site
IMAGE_TAG=local

SITE_DOMAIN=ocha-api-local.test

MYSQL_DB=ocha_api
MYSQL_USER=ocha_api
MYSQL_PASS=ocha_api

PHP_ENVIRONMENT=local
APP_ENV=dev
APP_SECRET=donttell
DATABASE_URL=mysql://ocha_api:ocha_api@mysql/ocha_api?charset=utf8
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
CORS_ALLOW_ORIGIN=^https?://.*?$
